<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

  <div class="signin-form">
    
    <!-- <img src="../assets/imgs/symphonylogo.jpg"/> -->

    <h2>Symphony Todo</h2>
        <p class="hint-text">Sign in with the following accounts...</p>
    <div class="social-btn text-center">
      <a href="#" class="btn btn-primary btn-lg" title="Facebook" (click)="loginFacebook()"><i class="fa fa-facebook"></i></a>
      <!-- <a href="#" class="btn btn-info btn-lg" title="Twitter"><i class="fa fa-twitter"></i></a> -->
      <a href="#" class="btn btn-danger btn-lg" title="Google" (click)="loginGoogle()"><i class="fa fa-google"></i></a>
    </div>
    <div class="or-seperator"><b>or</b></div>
        <div class="form-group">
          <input type="text" [(ngModel)]="email" class="form-control input-lg" name="username" placeholder="Email" required="required">
        </div>
    <div class="form-group">
            <input type="password" [(ngModel)]="password" class="form-control input-lg" name="password" placeholder="Password" required="required">
        </div>  
        <div class="form-group">
            <button (click)="loginUsernamePassword()" class="btn btn-success btn-lg btn-block signup-btn">Sign in</button>
        </div>
        <div class="text-center small"><a href="#" (click)="showAlert()">Forgot Your password?</a></div>
    
    <div class="hint-text">Don't have an account? <a href="#" (click)="showAlert()">Sign up</a></div>
  </div>




<!-- <ion-content padding>
  <img src="./assets/imgs/symphonylogo.jpg" />
  <ion-item>
    <ion-label floating>Email Address</ion-label>
    <ion-input type="text" [(ngModel)]="user.email" disabled>Disabled</ion-input>
    <ion-input type="text" disabled>Disabled</ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password" disabled></ion-input>
  </ion-item>

  <button class="loginBtn loginBtn--google" (click)="loginGoogle()">
      Login with Google
    </button>

  
  
        <button class="loginBtn loginBtn--facebook" (click)="loginFacebook()">
            Login with Facebook
          </button>
  
  
 


    










  <button ion-button (click)="login(user)">Login</button>
  <button ion-button color="light" (click)="register(user)">Register</button>
</ion-content> -->