page-login {
  background: url(../assets/imgs/background.jpg) no-repeat;
  background-size: cover;

  h2 {
    color: white;
  }

}

body { 
  
  
  padding: 2em; }


/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  width: 13em;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}



body {
 color: #434343;
 font-family: 'Varela Round', sans-serif;
}
.form-control {
font-size: 16px;
transition: all 0.4s;
box-shadow: none;
}
.form-control:focus {
  border-color: #5cb85c;
}
.form-control, .btn {
  border-radius: 50px;
outline: none !important;
}
.signin-form {
max-width: 400px;
margin: 0 auto;
padding: 30px 0;
}
.signin-form form {
border-radius: 5px;
margin-bottom: 0px;
  // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 40px;
}
.signin-form a {
color: #5cb85c;
}    
.signin-form h2 {
text-align: center;
font-size: 34px;
margin: 10px 0 15px;
}
.signin-form .hint-text {
color: #999;
text-align: center;
margin-bottom: 20px;
}
.signin-form .form-group {
margin: 20px;
}
.signin-form .btn {        
  font-size: 18px;
line-height: 26px;        
  font-weight: bold;
text-align: center;
}
.signin-form .small {
  font-size: 13px;
}
.signup-btn {
text-align: center;
border-color: #5cb85c;
transition: all 0.4s;
}
.signup-btn:hover {
background: #5cb85c;
opacity: 0.8;
}
.or-seperator {
  margin: 50px 0 15px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}
.or-seperator b {
  padding: 0 10px;
width: 40px;
height: 40px;
font-size: 16px;
text-align: center;
line-height: 40px;
background: #fff;
display: inline-block;
  border: 1px solid #e0e0e0;
border-radius: 50%;
  position: relative;
  top: -22px;
  z-index: 1;
}
.social-btn .btn {
color: #fff;
  margin: 10px 0 0 30px;
font-size: 15px;
  width: 55px;
  height: 55px;
  line-height: 38px;
  border-radius: 50%;
font-weight: normal;
  text-align: center;
border: none;
transition: all 0.4s;
}	
.social-btn .btn:first-child {
margin-left: 0;
}
.social-btn .btn:hover {
opacity: 0.8;
}
.social-btn .btn-primary {
background: #507cc0;
}
.social-btn .btn-info {
background: #64ccf1;
}
.social-btn .btn-danger {
background: #df4930;
}
.social-btn .btn i {
font-size: 20px;
}