<ion-header>
  <ion-navbar>
    <ion-title>
      Activity
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let invitation of fireBaseProvider.invitationList | async">
    <ion-item>
      <h2>Invitation to join list</h2>
      <h1>{{invitation.listName}}</h1>
      <p>from: {{invitation.fromEmail}}</p>
    </ion-item>

    <ion-card-content>
      <p *ngIf="!invitation.accepted">Accept the invitation to join this list</p>
      <ion-label *ngIf="invitation.accepted" color="primary">Accepted</ion-label>
    </ion-card-content>

    <ion-row *ngIf="!invitation.accepted">
      <ion-col>
        <button ion-button icon-left clear small (click)="acceptInvite(invitation)">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>Accept Invite</div>
        </button>
      </ion-col>
      <ion-col >
          <button float-right color="danger" ion-button icon-left clear small>
            <ion-icon name="thumbs-down"></ion-icon>
            <div>Decline Invite</div>
          </button>
        </ion-col>
    </ion-row>

  </ion-card>

</ion-content>