 <ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Tasks" tabIcon="checkmark"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Activity" tabIcon="list" tabBadge="{{firebaseProvider.invitationCounter}}"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Settings" tabIcon="settings"></ion-tab>
</ion-tabs>
