<ion-header>

  <ion-navbar>
    <ion-title>invite</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label color="primary">Who to invite?</ion-label>
        <ion-input name="email" [(ngModel)]="invitation.toEmail" placeholder="email address" required clearInput></ion-input>
    </ion-item>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="cancelInvite()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button color="primary" right ion-button (click)="inviteAndClose()">Send Invite to: {{invitation.toEmail}}</button>
        </ion-buttons>

    </ion-toolbar>
</ion-footer>
