<ion-header>
    <ion-navbar>
        <ion-title>Settings for list: {{currentList.name}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label color="primary" floating>List Name</ion-label>
        <ion-input name="listTitle" [(ngModel)]="currentList.name" placeholder="List Name..." required clearInput></ion-input>
    </ion-item>

    <ion-list-header>
        Members (all members see all tasks in that list)
        <button ion-button outline item-end icon-left (click)="presentInviteMember()">
                <ion-icon name="add"></ion-icon>
                Add Member
              </button>
    </ion-list-header>

    <div class="members">
        <ion-chip *ngFor="let member of currentMembers" (click)="openListChooser($event)">
            <ion-icon name="person"></ion-icon>
            <ion-label>{{member}}</ion-label>
        </ion-chip>
    </div>

    <ion-list-header>
        Users not yet responded to invitation (Not implemented yet)
    </ion-list-header>

    <!-- <div class="members">
        <ion-chip *ngFor="let member of currentMembers" (click)="openListChooser($event)">
            <ion-icon name="person"></ion-icon>
            <ion-label>{{member}}</ion-label>
        </ion-chip>
    </div> -->





    <!-- <ion-item *ngFor="let member of currentList.members | json">
                {{member}}
            </ion-item> -->

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="cancelChanges()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
            <button color="danger" left ion-button (click)="deleteList()">Delete List</button>
        </ion-buttons>
        <ion-buttons right>
            <button color="primary" right ion-button (click)="saveListSettings()">Save settings</button>
        </ion-buttons>

    </ion-toolbar>
</ion-footer>