<ion-list>
    <ion-list-header>Lists</ion-list-header>
    <ion-item [hidden]="!showAllLists" (click)="close(null)">All Tasks</ion-item>
    <ion-item (click)="close(list)" *ngFor="let list of firebaseProvider.lists | async">
        <ion-label>
            {{list.name}}
        </ion-label>
        
        <button ion-button icon-only item-end clear (click)="listSettings(list)">
            <ion-icon name="cog"></ion-icon>
        </button>
        
        
        <!-- <button item-end (click)="listSettings(list)">share</button> -->
    </ion-item>
    <button ion-item (click)="addNewList()">
        <ion-icon name="add" item-start></ion-icon>
    </button>
</ion-list>