<ion-header>
  <ion-navbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-row>
      <ion-row justify-content-start>

      
    <ion-col>
      <img src="{{userImage}}" width="140px" />
    </ion-col>
    <ion-col>
      <ion-title>User Profile</ion-title>
      <ion-item align-self-start col-auto>
        {{userEmail}}
      </ion-item>
    </ion-col>
  </ion-row>
  </ion-row>




  <!-- <ion-item>
    {{user.photoURL}}
  </ion-item>

  <ion-item>
    {{user.firstName}}
  </ion-item>

  <ion-item>
    {{user.lastName}}
  </ion-item> -->




  <!-- 
  uid: string
    email: string;
    photoURL?: string;
    firstName?: string;
    lastName?: string -->

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button color="primary" (click)="logOut()">Log Out</button>
  </ion-toolbar>
</ion-footer>