<ion-list>
    <ion-list-header>Snooze</ion-list-header>
    <button ion-item (click)="snooze('laterToday')">Later Today</button>
    <button ion-item (click)="snooze('tomorrow')">Tomorrow</button>
    <button ion-item (click)="snooze('in3days')">In 3 days</button>
    <button ion-item (click)="snooze('thisWeekend')">This Weekend</button>
    <button ion-item (click)="snooze('nextWeek')">Next Week</button>
    <button ion-item (click)="snooze('nextMonth')">Next month</button>
    <!-- <ion-item>
      <ion-label>
        Set Date
      </ion-label>
      <ion-datetime (ngModelChange)="snooze('setDate')" displayFormat="DDDD, D MMMM YYYY hh:mm" [(ngModel)]="ChangedDueDate">Set Date</ion-datetime>
    </ion-item> -->
    
    <!-- <button ion-item (click)="snooze('setDate')">Set Date</button> -->
    
  </ion-list>