<div>
    <font color="#d85a5a" [hidden]="!Overdue">
        <small>overdue</small>
        <small>{{todo.due | date: 'EEEE, d MMMM yyyy hh:mm'}}</small>
    </font>
    <font color="#3c44ac" [hidden]="!Today">
        <small>today</small>
    </font>
    <small [hidden]="!Later">{{todo.due | date: 'EEEE, d MMMM yyyy hh:mm'}}</small>
    <small [hidden]="!todo.list" class="listNameContainer">
            <!-- [style.background-color]=todo.list.colour -->
        <small class="listName">{{todo.list?todo.list.name:""}}</small>
    </small>
    <!-- <img style="margin-left:5px" item-end align='center' width="50" src="https://d1e5kh0r0549a9.cloudfront.net/themes/affinitylive/images/accelo_logo.svg"> -->
    <img style="margin-left:5px" item-end align='center' height="17" src="{{todo.list?todo.list.logo:''}}">
    
</div>
