<ion-header>
    <ion-title>
        <ion-input autofocus [(ngModel)]="title" placeholder="Todo Title"></ion-input>
    </ion-title>
</ion-header>

<ion-content>
    <ion-toolbar>
        <ion-chip (click)="openListChooser($event)">
            <ion-icon name="list"></ion-icon>
            <ion-label> {{currentList?currentList.name:"All Tasks"}}
            </ion-label>
        </ion-chip>

        <ion-chip (click)="openAssigneeChooser($event)">
            <ion-icon name="person" color="dark">Assigned to me</ion-icon>
            <ion-label color="secondary" color="dark">Assigned to me</ion-label>
        </ion-chip>
    </ion-toolbar>

    <ion-item>
        <ion-textarea autosize [(ngModel)]="description" placeholder="Enter a description"></ion-textarea>
    </ion-item>

    <ion-item>
        <ion-label>Due Date</ion-label>
        <ion-datetime displayFormat="DD MMM YYYY HH:mm" [(ngModel)]="dueDate"></ion-datetime>
    </ion-item>
    <!-- [(ngModel)]="comments" -->
    <comments [comments]="comments"></comments>


</ion-content>

<ion-footer>
    <ion-item>
        <ion-input name="commentInput" [(ngModel)]="commentInput" (keyup.enter)="onNewComment()" placeholder="Add Comment..." clearInput></ion-input>
    </ion-item>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button right ion-button (click)="dismiss()">{{currentTask?"Update":"Create"}}</button>
        </ion-buttons>

    </ion-toolbar>
</ion-footer>