.item-cover{
    width: 70px !important;
}

.GroupHeader .button { float:right }
.GroupHeader .name { float:left }

.listIdentifier{
    width:6px;
    margin: 0px;
    padding: 51px;
    height:20px;
    background:rgb(25, 83, 117);
    float:left;
}

.noDateItem {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255);
}

.overdueItem {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 10px;
    height: 10px;
    background: #d85a5a;
}

.todayItem {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 10px;
    height: 10px;
    background: #3c44ac;
}

.laterItem {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255);
}



