<ion-header>
  <ion-navbar color="light">

    <ion-chip (click)="openListChooser($event)">
      <ion-icon name="list"></ion-icon>
      <ion-label> {{currentList?currentList.name:"All Tasks"}}</ion-label>
    </ion-chip>
    
    <ion-chip>
      <ion-avatar>
        <img src="{{userImage}}">
      </ion-avatar>
      <ion-label color="secondary" color="dark">Assigned to me</ion-label>
    </ion-chip>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentOrderingAndGroupingOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-item>
    <ion-input [(ngModel)]="quickTaskInput" (keyup.enter)="onQuickTaskEnter()" placeholder="Add an item..." clearInput></ion-input>
  </ion-item>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let todo of firebaseProvider.todos | async">
      <ion-item [ngStyle]="setItemStyle(todo)">
        <!-- <div item-start [hidden]="!isNoDate(todo)" class="noDateItem"></div>
        <div item-start [hidden]="!isOverdue(todo)" class="overdueItem"></div>
        <div item-start [hidden]="!isToday(todo)" class="todayItem"></div>
        <div item-start [hidden]="!isLater(todo)" class="laterItem"></div> -->
        <ion-checkbox [(ngModel)]="todo.complete" (ionChange)="completeTask(todo)"></ion-checkbox>
        <ion-label (tap)="editTask(todo)" tappable>
        <p style="font-size:1.03em; font-weight:500">{{todo.header}}</p>
          <small>{{todo.description}}</small>
          <task-Info [todo]="todo"></task-Info>
        </ion-label>
        <ion-icon *ngIf="todo.comments && todo.comments.length > 0" color="callout" item-end name="chatbubbles" style="font-size:18px;margin-right:10px;margin-top:22px"></ion-icon>
        <!-- <button (click)="editTask(todo)" ion-button item-end outline color="light">edit</button> -->
      </ion-item>

      <ion-item-options side="left">
        <button ion-button color="primary" (click)="snooze($event, todo)">
          <ion-icon name="time"></ion-icon>
          snooze
        </button>
        <button ion-button color="light" (click)="moveToList($event, todo)">
          <ion-icon name="list"></ion-icon>
          move
        </button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteTodo(todo)">
          <ion-icon name="trash"></ion-icon>
          delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>